POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_qX6aBK2xYIbe
POSTGRES_HOST=ep-round-shape-b2s2je4n-pooler.c-6.eu-central-1.aws.neon.tech

SECRET_KEY=j0Ho5BcPeE88a7bEcCwBekjlhdIEsDG9
