{% extends "base.html" %}

{% block title %}Critics | TrueCritic{% endblock %}

{% block content %}
  <h1 class="mb-4">Critics</h1>
  {% include "includes/search_form.html" %}

  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
      {% for critic in critic_list %}
        <tr>
          <td>
            <a href="{% url 'catalog:critic-detail' pk=critic.id %}">{{ critic.username }}</a>
            {% if critic == user %} (Me){% endif %}
          </td>
          <td>{{ critic.first_name }} {{ critic.last_name }}</td>
          <td>{{ critic.num_reviews }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">There are no critics yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
